<div>

    <legend>Контактная информация</legend>
    <p>
        <label for="name">Имя <em>*</em></label><input type="text" id="name">
    </p>
    <p>
        <label for="email">E-mail</label><input type="email" id="email">
    </p>
    <p>
        <input type="submit" value="Отправить">
    </p>
    <button class="btn save" onclick="save">Save</button>
</div>

@section scripts
{
    <script src="~/js/Form.js"></script>
}