<div class="flexbox">
    <div id="tree-box">

    </div>
    <div class="main">
        <textarea id="screen-json"></textarea>
        
        <button class="btn save" onclick="save()">Save</button>

    </div>
</div>

@section scripts
{
    <script src="~/js/site.js"></script>
}