<div class="flexbox">
    <div id="tree-box">

    </div>
    <div class="main">
        @{await Html.RenderPartialAsync("_Form");}
    </div>
</div>

@section scripts
{
    <script src="~/js/Tree.js"></script>
}